@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos para React Quill */
.ql-container {
  min-height: 200px;
  font-size: 16px;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.ql-toolbar {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  background-color: #f9fafb;
}

.ql-editor {
  min-height: 200px;
}